<form action="/employee/add" method="POST">
  <input type="text" name="username" placeholder="username">
  <br>
  <br>
  <input type="text" name="password" placeholder="********">
  <br>
  <br>
  <select name="role" required='required'>
    <option value="GUEST">GUEST</option>
    <option value="DEV">DEV</option>
    <option value="TA">TA</option>
    <option value="STUDENT">STUDENT</option>
  </select>
  <br>
  <br>
  <button type="submit">ADD EMPLOYEE</button>
</form>